*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),
url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e");
background-size:cover;
background-position:center;
color:white;
min-height:100vh;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
}

nav h1{
font-size:28px;
letter-spacing:2px;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
font-size:18px;
transition:0.3s;
}

nav a:hover{
color:#00eaff;
}

/* HERO */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h2{
font-size:50px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:30px;
color:#ccc;
}

/* BUTTON */

.hero button{
padding:15px 40px;
font-size:18px;
border:none;
border-radius:30px;
background:#00eaff;
color:black;
cursor:pointer;
transition:0.3s;
}

.hero button:hover{
transform:scale(1.1);
box-shadow:0 0 20px #00eaff;
}

/* CARD */

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
padding:20px;
margin:20px;
border-radius:15px;
border:1px solid rgba(255,255,255,0.1);
}